@media (min-width: 200px) {

body {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    min-width: 1 rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  img {
    height: auto;
    max-width: 295px;

  }
  
  h1 {
    font-size: 2.4rem;
    font-weight: 800;

  }
  
  h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  .container {
    margin: 0 auto;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .nav {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .nav-link {
    padding-right: 1rem;
  }
}

@media (min-width: 1200px) {
    body {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        min-width: 1 rem;
        margin-left: 30rem;
        margin-right: 30rem;
      }
      
      img {
        height: auto;
        max-width: 500px;
    
      }
      
      h1 {
        font-size: 2.4rem;
        font-weight: 800;
    
      }
      
      h2 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      
      .container {
        margin: 0 auto;
        padding-left: .5rem;
        padding-right: .5rem;
      }
      
      .nav {
        list-style: none;
        padding: 0;
        display: flex;
      }
      
      .nav-link {
        padding-right: 1rem;
    }
}